<div class="fixed-header" *ngIf="service.isLogin">
  <div class="container">
    <nav>
      <a routerLink="orderpanel" routerLinkActive="active-route" *ngIf="service.isCashier || service.isAdmin">Order Management</a>
      <a routerLink="allorders" routerLinkActive="active-route" *ngIf="service.isAdmin">All Orders</a>
      <a routerLink="kitchenorder" routerLinkActive="active-route" *ngIf="service.isServer">Kitchen Orders</a>
      <a routerLink="reports" routerLinkActive="active-route" *ngIf="service.isAdmin">Reports</a>
      <a class="float-right" routerLink="loginpage" routerLinkActive="active">Logout</a>
      <a class="user-name float-right" *ngIf="service.isCashier">Cashier</a>
      <a class="user-name float-right" *ngIf="service.isAdmin">Admin</a>
    </nav>
  </div>
</div>
<div class="top-100">
  <!-- <mat-toolbar color="primary" class="toolbar-color navbar">
    <div>
      <span>Quick Billing</span>
    </div>
    <div>
      <span>Quick Billing</span>
      <span>Order History</span>
      <span>Reports</span>
    </div>
  </mat-toolbar> -->
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <br/>
  <!-- <mat-toolbar color="primary" class="toolbar-color footer">
    <span>Quick Billing</span>
  </mat-toolbar> -->
</div>
<div class="fixed-footer" *ngIf="service.isLogin">
  <div class="container">Copyright &copy; 2020 Quick Billing</div>
</div>
<style>
  /* .navbar{
    justify-content: space-between;
  }
  span{
    padding-right: 1rem;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
  }
  .toolbar-color{
    background: rgb(23, 162, 184);
  }
  .footer{
    position: fixed;
    bottom: 0;
  }
  .mat-toolbar-row, .mat-toolbar-single-row{
    height:50px;
  } */
  /* body {
    padding-top: 60px;
    padding-bottom: 40px;
  } */

  /* .container {
    width: 80%;
    margin: 0 auto;
   
  } */
 
.user-name{
  font-weight: 500;
  border-bottom: 2px solid #17a2b8;
}
  .fixed-header,
  .fixed-footer {
    width: 100%;
    position: fixed;
    /* background: rgb(23, 162, 184); */
    background: #333;
    padding: 5px 0;
    color: #fff;
  }
  .fixed-footer{
    bottom: 0;
  }

  .fixed-header {
    z-index: 99;
    top: 0;
  }
  /* Some more styles to beutify this example */
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
  }

  .container p {
    line-height: 200px;
  }

  /* .app-heading {
    margin-top: 1%;
  } */
  .active-route{
    font-weight: 500;
    border-bottom: 2px solid #17a2b8;
  }
  .top-100{
    margin-top: 65px;
  }
</style>